@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Cormorant+Garamond:wght@400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

@import "tailwindcss";

:root {
  --baby-blue: #dcefff;
  --teal-blue: #2f9da3;
  --soft-pink: #f8dce8;
  --soft-green: #b7d8c3;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #eef6f8;
}

.petal {
  position: absolute;
  top: -10%;
  font-size: 18px;
  pointer-events: none;
  z-index: 20;

  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-100px) translateX(0);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  50% {
    transform: translateY(50vh) translateX(30px);
  }

  100% {
    transform: translateY(110vh) translateX(-30px);
    opacity: 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -300% 0;
  }

  100% {
    background-position: 300% 0;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.particle {
  position: fixed;
  bottom: -30px;

  border-radius: 9999px;

  pointer-events: none;

  opacity: 0.35;

  z-index: 5;

  animation-name: floatingDust;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  filter: blur(0.5px);
}

.particle:nth-child(4n) {
  background: #e6f5ff;
  box-shadow: 0 0 10px rgba(220, 239, 255, 0.6);
}

.particle:nth-child(4n + 1) {
  background: #fde9f1;
  box-shadow: 0 0 10px rgba(248, 220, 232, 0.6);
}

.particle:nth-child(4n + 2) {
  background: #d7eadf;
  box-shadow: 0 0 10px rgba(183, 216, 195, 0.6);
}

.particle:nth-child(4n + 3) {
  background: #52bcc2;
  box-shadow: 0 0 12px rgba(47, 157, 163, 0.5);
}

@keyframes floatingDust {
  0% {
    transform: translateY(0) translateX(0) scale(0.8);
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  30% {
    transform: translateY(-30vh) translateX(25px) scale(1);
  }

  60% {
    transform: translateY(-65vh) translateX(-25px) scale(1.2);
    opacity: 0.8;
  }

  100% {
    transform: translateY(-120vh) translateX(20px) scale(0.7);
    opacity: 0;
  }
}

@keyframes floatLogo {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}